.Box {
    display: inline-block;
    
    background-color: var(--color-third);
    text-align: center;

    padding: 42px 44px;

    box-shadow: 10px 10px 0px #000000;
}

.Box .Title {
    margin-bottom: 28px;
}