.box {
    display: inline-block;

    font-family: var(--font-PressStart2P);
    background-color: var(--color-third);
    text-align: center;

    margin-left: 91px;
    margin-bottom: 38px;

    padding: 42px 44px;


    box-shadow: 10px 10px 0px #000000;
}

.box h1 {
    margin-bottom: 28px;
}