.Card-Course {
    width: 220px;
    height: 140px;
    background-color: #121214;
    box-sizing: border-box;
    border: solid 5px var(--color-fourth);

    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.Card-Course.-Large {
    width: 240px;
}
.Card-Course .Course-Img {
    width: auto;
    height: auto;
    max-width: 220px;
    max-height: 130px;
}
.Card-Course .Main-Title {
    position: absolute;
    color: #6969e6;
    
    text-shadow: none;
    font-size: calc(var(--font-size) * 2.4);

    top: 4px;
}
.Card-Course .Course-Link {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.Card-Course .Course-Link:hover {
    cursor: grab;
}

/* Time Line - Border(Style) */
.Card-Course::before {
    content: "";
    height: 0;
    width: 45px;
    box-sizing: border-box;
    border: 2.5px dashed var(--color-sixth);
    position: absolute;
    top: 52.6px;
    transform: rotate(90deg);
}
/* Time Line - Background-Image(Style)
.Card-Course::after {
    content: ' ';
    display: inline-block;
    position: absolute; 
    width: 5px;
    height: 44px;
    top: 11px;

    background-image: repeating-linear-gradient(
        to top, 
        black 5px,
        black 12px,
        aliceblue 10px,
        aliceblue 20px
    ); 
    background-repeat: no-repeat;
    ackground-size: 90% 70px;
}
 */