

.Main-Footer {
    height: 100px;
    background-color: var(--color-sixth);
}

.Main-Footer .SocialLogo {
    width: 45px;
    height: 45px;
}

.Main-Footer .Action-Link {
    display: flex;
    align-items:center;
    gap: 10px;
}