.Main-Section {
    height: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-fifth);

    padding-top: 50px;

    box-sizing: border-box;
    border-bottom: 10px solid var(--color-third);
}
.Main-Section .View-More-Text {
    position: relative;
    bottom: 2px;
    display: none;
    font-size: 18px;
    border-bottom: 2px solid var(--color-third);
}
@media screen and (max-width: 1050px) {
    .Main-Section {
        height: 750px;
        padding-top: 45px;
    }
}
@media screen and (max-width: 850px) {
    .Main-Section {
        height: 720px;
    }
}
@media screen and (max-width: 750px) {
    .Main-Section .View-More-Text {
        display: block;
    }
}
@media screen and (max-width: 550px) {
    .Main-Section .View-More-Text {
        font-size: 15px;
    }
    .Main-Section {
        padding-top: 40px;
        height: 700px;
    }
}

.Main-Section.-second {
    height: 520px;

    background-color: var(--color-sixth);
    border-color: var(--color-fourth);
}
@media screen and (max-width:1250px) {
    .Main-Section.-second{
        height: 480px;
    }
}
@media screen and (max-width:950px) {
    .Main-Section.-second{
        height: 460px;
    }
}
@media screen and (max-width:800px) {
    .Main-Section.-second{
        height: 420px;
    }
}
@media screen and (max-width:650px) {
    .Main-Section.-second{
        height: 380px;
    }
}
@media screen and (max-width:550px) {
    .Main-Section.-second{
        height: 330px;
    }
}
@media screen and (max-width:450px) {
    .Main-Section.-second{
        height: 270px;
    }
}



.Main-Section.-bg-color-second {
    background-color: var(--color-second);
}
