.MainParagraph {
    display: block;
    margin: 50px auto auto auto;
    width: 90%;
    text-align: justify;

    font-family: var(--font-FiraCode);
    font-weight: 300;
    font-size: calc(var(--font-size) * 3);
    line-height: 40px;

}