.Main-Wrapper {
    display: flex;
    flex-direction: column;
}

.Main-Wrapper.-Navigation-Buttons {
    flex-direction: row;
    justify-content: space-around;
}

.Main-Wrapper.-Skills {
    width: 960px;
    height: 480px;

    align-content: space-between;
    gap: 40px;
    
    flex-wrap: wrap;
}
@media screen and (max-width: 1050px) {
    .Main-Wrapper.-Skills {
        width: 800px;
        align-content: space-around;
    }
}
@media screen and (max-width: 850px) {
    .Main-Wrapper.-Skills {
        width: 700px;   
    }
}
@media screen and (max-width: 750px) {
    .Main-Wrapper.-Skills {
        box-sizing: border-box;
        
        border-right: solid 5px var(--color-third);
        border-left: solid 5px var(--color-third);
        width: auto;
        height: 520px;
        flex-wrap: nowrap;
        overflow: scroll;
        padding: 20px 15px;
    }
}
@media screen and (max-width: 500px) {
    .Main-Wrapper.-Skills {
        gap: 30px;
    }
}
@media screen and (max-width: 400px) {
    .Main-Wrapper.-Skills {
        gap: 25px;
    }
}


.Main-Wrapper.-Projects {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.Main-Wrapper.-Footer {
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-content: center;
    height: 100%;
}