.Main-Header {
    height: 80px;
    background-color: var(--color-first);

    border-bottom: 10px solid;

    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

@media screen and (max-width: 980px){
    .Main-Header .Menu-Nav {
        display:none;
    }

    .Main-Header .Menu-Nav.-Open {
        position: fixed;
        margin: 0;
        top: 0;
        right: 0;
        box-sizing: border-box; 

        background-color: #0f0f32;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        overflow-y: hidden !important; 

        width: 100%;
        height: 100%; 
        z-index: 2;
        animation: MenuAppers 400ms linear;
    }
    @keyframes MenuAppers {
        from {
            opacity: 0;
        }
        to {          
            opacity: 1;
        }      
    }
    .Main-Header .Icon-Menu.-Close {
        position: absolute;
        top: 16px;
        right: 0;
        z-index: 3;
        background-image: url(../../assets/images/Icon-Close.svg);
    }
}
@media screen and (min-width:980px) {
    .Main-Header .Icon-Menu {
        display: none;
    }
}
