.Main-Wrapper {
    display: flex;
    flex-direction: column;
}

.Main-Wrapper.-Navigation-Buttons {
    flex-direction: row;
    justify-content: space-around;
}

.Main-Wrapper.-Skills {
    width: 960px;
    height: 480px;

    align-content: space-between;
    gap: 40px;
    
    flex-wrap: wrap;
}

.Main-Wrapper.-Projects {
    flex-direction: row;
    gap: 150px;
}

.Main-Wrapper.-Courses {
    height: 100%;
    flex-direction: row;
    align-items: flex-end;
    gap: 50px;
}