.Main-Section {
    height: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-fifth);

    padding-top: 50px;

    box-sizing: border-box;
    border-bottom: 10px solid var(--color-third);
}

.Main-Section.-Home{
    background-image: url(../../assets/images/Banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
    padding: 120px 0 0 100px;

    align-items: flex-start;

    border-color: #000;
}

.Main-Section.-second {
    height: 520px;

    background-color: var(--color-sixth);
    border-color: var(--color-fourth);
}

.Main-Section.-bg-color-second {
    background-color: var(--color-second);
}

.Main-Section.-bg-color-sixth {
    background-color: var(--color-sixth)
}
.Main-Section.-borderNone{
    border: none;
}