
.Progress-Bar {
    height: 40px;
    width: 320px;

    box-sizing: border-box;
    border-radius: 0;
    border: 5px solid #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
}

.Progress-Bar::-webkit-progress-bar {
    background: #e6e6e6;
}
.Progress-Bar::-webkit-progress-value {
	background: var(--color-third);
}

.Progress-Bar::-moz-progress-bar {
    background: var(--color-third);
}
