.Project-Container {
    width: 280px;
    height: 280px;

    box-shadow: 10px 10px 0px #FFFFFF;
}

.Project-Container .Icon-Project {
    width: 280px;
    height: 280px;
}

.Project-Container .Icon-Project.Pokedex {
    background: linear-gradient(to bottom, #2d91c2 0%,#1e528e 70%);
}

.Project-Container .Icon-Project.Portfolio {
    background: #525e75;
}
