.SectionSkills {
    height: 800px;
    background-color: var(--color-first);

    border-bottom: 10px solid var(--color-third);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.SectionSkills .Title {
    color: var(--color-third);
    text-shadow: none;

    margin-top: 50px;
    margin-bottom: 60px;
}
.SectionSkills .Subtitle {
    color: var(--color-third);
    text-shadow: none;
    font-size: calc(var(--font-size) * 2.5);
}


.SectionSkills .ContainerListSkills {
    width: 960px;
    height: 480px;

    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;
}


.SectionSkills .ContainerSkill {
    width: 430px;
    height: 90px;

    display: flex;
    gap: 25px;
}

.SectionSkills .SkillDetails {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.SectionSkills .Icon {
    width: auto;
    height: 90px;
}

.SectionSkills .ProgressBar {
    height: 40px;
    width: 320px;

    box-sizing: border-box;
    border-radius: 0;
    border: 5px solid #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
}

.ProgressBar::-webkit-progress-bar {
    background: #e6e6e6;
}
.ProgressBar::-webkit-progress-value {
	background: var(--color-third);
}

.ProgressBar::-moz-progress-bar {
    background: var(--color-third);
}
