
.Skill-Tec {
    width: 430px;
    height: 90px;

    display:flex;
    align-items: center;
    gap: 15px;

    color: var(--color-third);
    font-weight: 400;
    font-size: calc(var(--font-size) * 2.5) ;
    font-family: var(--font-PressStart2P);
}

.Wrapper-img {
    width: 95px;
}

.Icon {
    max-height: 90px;
    max-width: 93px;
}

.Skill-Tec .SkillDetails {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (max-width: 1050px) {
    .Skill-Tec {
        width: auto;
    }
}
@media screen and (max-width: 850px) {
    .Skill-Tec { 
        font-size: 22px;
    }
    .Skill-Tec .Icon {
        max-width: 73px;
    }
    .Skill-Tec .Wrapper-img {
        width: auto;
    }
}
@media screen and (max-width: 750px) {
    .Skill-Tec { 
        font-size: 24px;
    }
    .Skill-Tec .Icon {
        max-width: 83px;
    }
    .Skill-Tec .Wrapper-img {
        width: 95px;
    }
}
@media screen and (max-width: 500px) {
    .Skill-Tec { 
        font-size: 24px;
    }
    .Skill-Tec .Icon {
        max-width: 73px;
    }
    .Skill-Tec .Wrapper-img {
        width: 80px;
    }
}
@media screen and (max-width: 400px) {
    .Skill-Tec { 
        font-size: 20px;
    }
}
@media screen and (max-width: 340px) {
    .Skill-Tec .Icon {
        max-width: 63px;
    }
    .Skill-Tec { 
        font-size: 18px;
        gap: 6px;
    }
}
