.Styled-Button {
    display: inline-block;
    padding: 18px 20px;

    font-family: var(--font-FiraCode);
    font-size: calc(var(--font-size) * 2);
    background-color: var(--color-first);
    color: black;
    text-decoration: none;

    border: 2px solid black;

    text-align: center;
    box-shadow: 5px 5px 0 black;
    transition: transform 100ms cubic-bezier(.45, .97, .68, 2.48);
}

.Styled-Button:hover {
    transform: scale(1.08);
    cursor:grab;
}

.Styled-Button.-Form {
    height: 60px;
    width: 100%;
    max-width: 1400px;
    font-size: calc(var(--font-size) * 3);
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}
.Styled-Button.-Form:hover {
    transform: scale(1.02);
    cursor:grab;
}