
* {
    --color-first: #FFFFFF;
    --color-second: #C0D6DF;
    --color-third: #212135;
    --color-fourth: #28666E;

    --font-PressStart2P: 'Press Start 2P', cursive, sans-serif;
    --font-FiraCode: 'Fira Code', monospace, sans-serif;
    --font-size: 10px;
}

body {
    font-family: var(--font-FiraCode);
    font-weight: 500;
}

/* Home */

.Home {
    height: 797px;

    box-sizing: border-box;
    padding-top: 116px;
}

.Home .ButtonHome:first-of-type {
    margin-left: 181px;
    margin-right: 112px;
}

