
* {
    --color-first: #FFFFFF;
    --color-second: #C0D6DF;
    --color-third: #212135;
    --color-fourth: #28666E;

    --font-PressStart2P: 'Press Start 2P', cursive, sans-serif;
    --font-FiraCode: 'Fira Code', monospace, sans-serif;
    --font-size: 10;
}

/*  Header  */
header {
    width: 100vw;
    height: 80px;
    background-color: var(--color-first);

    border-bottom: 10px solid;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a, .ButtonHeader {
    color: var(--color-third);
    text-decoration: none;
    font-family: var(--font-FiraCode);
    font-weight: 500;
    font-size: calc( var(--font-size) * 2) ;
}

.Logo {
    margin-left: 20px;
    width: 60px;
    height: 60px;
    background-color: #525e75;
    border-radius:5px; 
}

.Menu {
    width: 702px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content:space-around;
}

.Menu a::before {
    content: " ";

    display: inline-block;
    margin-right: 10px;
 
    width: 10px;
    height: 10px;
    background-color: var(--color-fourth);
}

/* All elements <a>*/
.Menu > a:hover {
    cursor: grab;
}

/* Home */

.Home {
    height: 797px;

    box-sizing: border-box;
    padding-top: 116px;
}

.Home .ButtonHome:first-of-type {
    margin-left: 181px;
    margin-right: 112px;
}

